Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/mace
src/perft-splitter
*~
stamp-h1
src/libmace.a
test-driver
testsuite/.deps/
testsuite/perft-tester
testsuite/perft-tester.o
testsuite/zobrist-tester
testsuite/zobrist-tester.o
testsuite/*.log
testsuite/*.trs
